

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#map {
  height: 100%;
    text-align: center;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#timer-container {
    position: absolute;
    top: 35vh;
    width:40vw;
    left: 30vw;
    text-align: center;
 
}

#timer {
    text-align: center;
}

#timer-container button {
    text-align: center;
    margin-right: 10px;
    padding: 10px;
}

#lightning, #thunder, #reset {
    position: absolute;
    bottom: -50px;
    left: 40%;
    width: 20%;
}


#thunder {
    display: none;
}


@media only screen and (max-width: 600px)  {
    #timer-container {
        width: 90vw;
        left: 5vw;
    }
}

















